%h1 Listing Cases


.container.table-container

  %table
    %thead
      %tr
        %th MAAT No
        %th Appeal Date
        %th Defendant name
        %th Solicitor

    %tbody
      - @cases.each do |hearing|
        %tr
          %td= link_to hearing.maat_number, edit_case_path(hearing)
          %td= hearing.appeal_date_for_display
          %td= hearing.defendant.name
          %td= hearing.solicitor.name


%br

